body { 
    font-family: sans-serif; 
    margin: 0; 
    background-color: #1A1625;
}

h2, h1, p1 { 
    color: #EBEBEB;
}

nav { 
    background-color: #742BFF; 
    padding: 1rem; 
}

nav a { 
    color: white; 
    text-decoration: 
    none; 
    margin-right: 1rem; 
}

.container { 
    max-width: 1200px; 
    margin: 2rem auto; 
    padding: 1rem; 
    background-color: #444444; 
    border-radius: 8px;
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 1rem; 
}

.card { 
    border: 1px solid #E68ED0; 
    border-radius: 4px; 
    padding: 1rem; 
    text-align: center; 
    background-color: #5F5187;
}

.card img { 
    max-width: 100%; 
    height: auto; 
    border-radius: 4px; 
}

.detail-img { 
    max-width: 250px; 
    float: left; 
    margin-right: 20px; 
    border-radius: 8px;
}

ul { 
    list-style: none; 
    padding: 0; 
}

li { 
    margin-bottom: 0.5rem; 
}