{% extends "base.html" %}
{% load static %}

{% block title %}All Monsters{% endblock %}

{% block content %}
    <h1>All Monsters</h1>
    <div class="grid">
        {% for monster in monsters %}
            <div class="card">
                <a href="{% url 'monster-detail' monster.pk %}">
                    <img src="{% static monster.MonsterImg %}" alt="{{ monster.MonsterName }}">
                    <p>{{ monster.MonsterName }}</p>
                </a>
            </div>
        {% empty %}
            <p>No monsters found.</p>
        {% endfor %}
    </div>
{% endblock %}